@mixin singleLine {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin imgIcon($size, $url) {
	width: $size;
	height: $size;
	background: url($url) no-repeat 50% 50%;
	background-size: 100% 100%;
}
