:root{
  // 品牌色
  --pp-color-primary: #6306B2;
  --pp-color-secondary: #F0ECFC;

  // 功能色
  --pp-color-success: #38D79F;
  --pp-color-warning: #FFAA0C;
  --pp-color-danger: #FE5455;
  // 文字色
  --pp-color-text: #333333;
}